<div class="box box-primary box-solid">
    {{ partial "pager/slim-table/header"}}
    <div class="box-body">
        <div role="grid" class="form-inline">
            {{partial "pager/slim-table/tools"}}
            <table class="table table-bordered table-striped">
                {{partial "pager/slim-table/table-header"}}
                {{partial "pager/slim-table/row"}}
            </table>
            {{partial "pager/slim-table/footer"}}
        </div>
    </div>
</div>