<div class="box box-{{box}} box-solid">
    {{ partial "table-pager/table/header"}}
    <div class="box-body">
        <div role="grid" class="form-inline">
            {{partial "table-pager/slim-table/tools"}}
            <table class="table table-bordered table-striped">
                {{partial "table-pager/slim-table/table-header"}}
                {{partial "table-pager/table/row"}}
            </table>
            {{partial "table-pager/slim-table/footer"}}
        </div>
    </div>
</div>
