{{log 'currentContentSize -> ' currentContentSize}}
{{log 'scrollMode -> ' scrollMode}}
{{log 'mainScroll -> ' mainScroll}}
<table class="table table-bordered table-striped {{if scrollMode "scrolling-content" ""}}">
    <thead>
    <tr role="row" style="{{if scrollMode 'min-width: 100%'}}">
      {{#each columns as |item|}}
          <th role="columnheader" tabindex="0" rowspan="1" colspan="1" style="{{if item.width (concat 'width: ' item.width 'px;')}}">
            {{#unless item.disableServerInteractions}}
              {{#if item.enableSearch }}
                  <a {{action (toggle 'showFilter' this)}}><i class="fa fa-search"></i></a>
              {{/if}}
            {{/unless}}
            {{item.displayName}}
            {{#unless item.disableServerInteractions}}
              {{#if (and (eq sortProperty item.apiInteractionName) (eq sortDirection 'asc'))}}
                  <a {{action (action this.attrs.changeSort item.apiInteractionName 'desc')}}>
                      <i class="fa fa-sort-asc"></i>
                  </a>
              {{else if (and (eq sortProperty item.apiInteractionName) (eq sortDirection 'desc'))}}
                  <a {{action (action this.attrs.changeSort '')}}>
                      <i class="fa fa-sort-desc"></i>
                  </a>
              {{else}}
                  <a {{action (action this.attrs.changeSort item.apiInteractionName 'asc')}}>
                      <i class="fa fa-sort"></i>
                  </a>
              {{/if}}
            {{/unless}}
              <div class="row {{if (and showFilter item.enableSearch (not item.disableServerInteractions)) '' 'hidden'}}">
                  {{!--<div class="col-md-12">--}}
                    {{input type="text" class="form-control" value=item.filterValue name=item.fieldName }}
                  {{!--</div>--}}
              </div>
          </th>
      {{/each}}
        <th role="columnheader" tabindex="0" rowspan="1" colspan="1" style="{{if actionWidth (concat 'width: ' actionWidth 'px;')}}"></th>
    </tr>
    </thead>

    <tbody class="row" style="height: {{bodyHeight}}">
      {{#if scrollMode}}
        <tr class="ghost-header">
            {{#each columns as |item|}}
              <th rowspan="1" colspan="1" style="{{if item.width (concat 'width: ' item.width 'px;')}}">&nbsp;</th>
            {{/each}}
        </tr>
      {{/if}}
      {{yield}}
    </tbody>

    <tfoot>
    <tr>
      {{#each columns as |item|}}
          <th rowspan="1" colspan="1" style="{{if item.width (concat 'width: ' item.width 'px;')}}">
            {{item.displayName}}
          </th>
      {{/each}}
        <th rowspan="1" colspan="1" style="{{if actionWidth (concat 'width: ' actionWidth 'px;')}}">Actions</th>
    </tr>
    </tfoot>
</table>
{{#if loading}}
    <div class='table-loading-overlay container'>
        <div class='table-loading-inner row'>
            <div class='vertical-center col-xs-12'>
                <div class='text-center col-xs-12'>
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
{{/if}}
