{{#if tableActions.selectAction}}
  {{x-checkbox checked=row.content.isSelected on-change=(action tableActions.selectAction row row.content.isSelected)}}
{{/if}}
{{#if (and tableActions.linkPath (or (not tableActions.linkCondition)
  (and tableActions.linkCondition (compute (action (optional tableActions.linkCondition) row.content)))))}}
  {{#link-to tableActions.linkPath row.id class="btn btn-default btn-xs table-action-buttons"}}
    {{fa-icon 'folder-open'}}
  {{/link-to}}
  {{!-- TODO disable this until we use only subdomains for all the apps in all envs
  <a href="{{href-to tableActions.linkPath row.id}}" class="btn btn-default btn-xs table-action-buttons">
    {{fa-icon 'folder-open'}}
  </a>
  --}}
{{/if}}

{{#if (and tableActions.editAction (or (not tableActions.editCondition)
  (and tableActions.editCondition (compute (action (optional tableActions.editCondition) row.content)))))}}
  <a {{action tableActions.editAction row.content}} class="btn btn-default btn-xs table-action-buttons" href="#">
    {{fa-icon 'pencil'}}
  </a>
{{/if}}

{{#if (and tableActions.editPath (or (not tableActions.editCondition)
  (and tableActions.editCondition (compute (action (optional tableActions.editCondition) row.content)))))}}
  {{#link-to tableActions.editPath row.id class="btn btn-default btn-xs table-action-buttons"}}
    {{fa-icon 'pencil'}}
  {{/link-to}}
  {{!-- TODO disable this until we use only subdomains for all the apps in all envs
  <a href="{{href-to tableActions.editPath row.id}}" class="btn btn-default btn-xs table-action-buttons">
    {{fa-icon 'pencil'}}
  </a>
  --}}
{{/if}}
{{#if (and tableActions.deleteAction (or (not tableActions.deleteCondition)
  (and tableActions.deleteCondition (compute (action (optional tableActions.deleteCondition) row.content)))))}}
  <a {{action tableActions.deleteAction row.content}} class="btn btn-default btn-xs table-action-buttons" href="#">
    {{fa-icon 'trash'}}
  </a>
{{/if}}
{{#if tableActions.editFlag}}
  <a href="#" {{action tableActions.editFlag row}} class=" table-action-buttons">
    {{#if (eq row.flagStatus 'flagged')}}
      {{fa-icon 'flag' class="icon-red"}}
    {{else}}
      {{fa-icon 'flag-o'}}
    {{/if}}
  </a>
{{/if}}