{{#if tableActions.selectAction}}
  {{x-checkbox checked=checked on-change=(action tableActions.selectAction row checked)}}
{{/if}}
{{#if tableActions.linkPath}}
    {{#link-to tableActions.linkPath row.id class="btn btn-default btn-xs"}}
      {{fa-icon 'folder-open'}}
    {{/link-to}}
{{/if}}
{{#if tableActions.editAction}}
  <a {{action tableActions.editAction row.content}} class="btn btn-default btn-xs" href="#">
    {{fa-icon 'pencil'}}
  </a>
{{/if}}
{{#if tableActions.editPath}}
  {{#link-to tableActions.editPath row.id class="btn btn-default btn-xs"}}
    {{fa-icon 'pencil'}}
  {{/link-to}}
{{/if}}
{{#if tableActions.deleteAction}}
    <a {{action tableActions.deleteAction row.content}} class="btn btn-default btn-xs" href="#">
      {{fa-icon 'trash'}}
    </a>
{{/if}}
{{#if tableActions.editFlag}}
  <a href="#" {{action tableActions.editFlag row}}>
    {{#if (eq row.flagStatus 'flagged')}}
      {{fa-icon 'flag' class="icon-red"}}
    {{else}}
      {{fa-icon 'flag-o'}}
    {{/if}}
  </a>
{{/if}}