{{#if tableTitle}}
  {{#component titleComponent
  titleParams=titleParams
  contentParams=contentParams
  allowQuickSearch=allowQuickSearch}}
    {{tableTitle}}
  {{/component}}
{{/if}}

{{#component bodyComponent}}
  {{#component toolbarComponent}}
    {{#if isRemoteHandled}}
      {{component toolsComponent
      allowQuickSearch=allowQuickSearch
      searchString=searchString
      totalRecords=numberOfRecords
      perPage=perPage
      toolsParams=toolsParams
      isInfinite=isInfinite
      allColumns=allColumns
      refresh=(action this.attrs.refresh)
      runAdvancedSearch=(action this.attrs.runAdvancedSearch)
      runQuickSearch=(action this.attrs.runQuickSearch)
      changePerPage=(action this.attrs.changePerPage)
      changeSort=(action this.actions.changeSort)}}

      {{component pagerComponent
      count=totalPages
      current=page
      changePage=(action this.attrs.changePage)
      pagerParams=pagerParams}}
    {{else}}
      {{component toolsComponent
      allowQuickSearch=allowQuickSearch
      searchString=searchString
      perPage=perPage
      allColumns=allColumns
      runAdvancedSearch=(action 'runAdvancedSearch')
      isInfinite=isInfinite
      changePerPage=(action 'doNothing')
      refresh=(action 'doNothing')
      runAdvancedSearch=(action 'doNothing')
      runQuickSearch=(action 'doNothing')}}

      {{component pagerComponent
      count=totalPages
      current=page
      changePage=(action 'doNothing')}}
    {{/if}}
  {{/component}}

<div class="ember-cli-table-content table-container" style="overflow-y:auto;">
  {{#light-table table
    height=height
    tableClassNames='table table-bordered table-striped'
    responsive=true
    breakpoints=(hash
      mobile=3
      tablet=5
      desktop=10
      jumbo=20
    )
    tableActions=(hash
      selectAction=selectAction
      selectAllAction=selectAllAction
      linkPath=linkPath
      editPath=editPath
      editAction=editAction
      deleteAction=deleteAction
      editFlag=editFlag
      allowQuickSearch=allowQuickSearch
    )
    as |t|}}

    {{t.head
      onColumnClick=(action 'onColumnClick')
      iconAscending='fa fa-sort-asc'
      iconDescending='fa fa-sort-desc'
      fixed=true
      }}

      {{#t.body
        onScrolledToBottom=(action 'onScrolledToBottom')
        canSelect=false
        rowComponent=rowComponent
        as |body|}}

      {{#body.expanded-row as |row|}}
        Expanded row
      {{/body.expanded-row}}

      {{#if table.isEmpty}}
      {{#body.no-data}}
        {{component noDataComponent noDataParams=noDataParams}}
      {{/body.no-data}}
      {{/if}}

    {{/t.body}}

    {{!t.foot fixed=true}}
  {{/light-table}}

  {{#if loading}}
      <div class='table-loading-overlay'>
          <div class='table-loading-inner row'>
              <div class='vertical-center col-xs-12'>
                  <div class='text-center col-xs-12'>
                      <i class="fa fa-cog fa-spin fa-3x"></i>
                  </div>
              </div>
          </div>
      </div>
  {{/if}}

</div>

  {{component footerComponent
  perPage=perPage
  page=page
  totalPages=totalPages
  totalRecords=numberOfRecords
  changePage=(action this.attrs.changePage)
  }}
{{/component}}
