{{#if column.component}}
  {{component column.component column=column table=table tableActions=tableActions sortIcons=sortIcons}}
{{else}}
    {{#if column.showIcon}}
        <div class="table-header-icon">
            {{fa-icon column.showIcon class="table-header-icon"}}
        </div>
    {{else}}
        <div class="table-header-label">
            {{label}}
        </div>
    {{/if}}

    {{#if column.sorted}}
        <span class="lt-sort-icon {{if column.ascending sortIcons.iconAscending sortIcons.iconDescending}}"></span>
    {{/if}}
{{/if}}

{{#if isResizable}}
  {{lt-column-resizer column=column resizeOnDrag=resizeOnDrag columnResized=(action 'columnResized')}}
{{/if}}

<div class="row {{if (and column.tpColumn.showFilter column.tpColumn.enableSearch (not column.tpColumn.disableServerInteractions)) '' 'hidden'}}">
  {{light-table/filter-box column=column}}
</div>
