<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">{{tableTitle}}</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool">{{fa-icon "plus"}} New Account</button>
        </div>
    </div>
    <div class="box-body">
        <div role="grid" class="form-inline">
            {{partial "table-pager/table/tools"}}
            <table class="table table-bordered table-striped">
                {{partial "table-pager/table/table-header"}}
                {{partial "table-pager/table/row"}}
            </table>
            {{partial "table-pager/table/footer"}}
        </div>
    </div>
</div>