<div class="box box-{{box}} box-top">
  {{#if tableTitle}}
    {{ partial "table-pager/table/header"}}
  {{/if}}
    <div class="box-body">
        <div role="grid" class="form-inline">
          {{partial "table-pager/table/tools"}}
            <table class="table table-bordered table-striped">
              {{partial "table-pager/table/table-header"}}
              {{partial "table-pager/table/row"}}
            </table>
          {{partial "table-pager/table/footer"}}
        </div>
    </div>
</div>
